body {
  font-family: Arial, sans-serif;
  background-color: orange;
  line-height: 1.5;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredient-list {
  list-style: square inside;
}

ol {
  list-style: circle;
}

header > img {
  width: 100px;
}

ul li a {
  text-decoration: none;
}
div {
  font-size: 20px;
}